@font-face {
    font-family: 'Heebo';
    src: url('./Heebo-Light.woff2') format('woff2');
    font-display: fallback;
    font-weight: 300;
    font-style: light;
}

@font-face {
    font-family: 'Heebo';
    src: url('./Heebo-Regular.woff2') format('woff2');
    font-display: fallback;
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Heebo';
    src: url('./Heebo-Medium.woff2') format('woff2');
    font-display: fallback;
    font-weight: 600;
    font-style: medium;
}

@font-face {
    font-family: 'Heebo';
    src: url('./Heebo-Bold.woff2') format('woff2');
    font-display: fallback;
    font-weight: 700;
    font-style: bold;
}

